@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, 
body{
  display: grid;
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  background-color: #e1e1e1;
  font-family: 'Inter', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "question-area question-area picture-area"
    "question-area question-area ."
    "question-area question-area submit-button";
  width: 900px;
  height: 450px;
  place-self: center;
  background-color: #F1F1F1;
  border-radius: 20px;
  padding: 2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
.question-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "question-text question-text question-text"
    "answer-buttons answer-buttons answer-buttons"
    "answer-buttons answer-buttons answer-buttons";
  grid-area: question-area;
  }
  
.question-text { 
  grid-area: question-text;
  text-align: center;
}

h1 {
  margin-top: 0;
}

button {
  border-radius: 500px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 21px;
  background-color: #F1F1F1;
  cursor: pointer;
}

button:hover {
  border: 2px solid #7037ab;
  color: #7037ab;
 }

.answer-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    ".";
  grid-area: answer-buttons;
}

.answer-btn {
  justify-self: center;
  width: 75%;
  height: auto;
}
  
.picture-area { 
  grid-area: picture-area;
  display: grid;
  background-image: url("/assets/images/footwidthpicture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}
  
.submit-button {
  display: grid;
  grid-area: submit-button;
}

.submit-btn {
  width: 100%;
  height: auto;
}

