@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, 
body{
  display: grid;
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  background-color: #e1e1e1;
  font-family: 'Inter', sans-serif;
}

.hide {
  display: none;
}

button.selected {
  background-color: #7037ab;
  color: #F1F1F1;
  border: 2px solid #F1F1F1;
}

button.selected:hover {
  border: 2px solid #F1F1F1;
  color: #F1F1F1;
}

.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "question-area question-area picture-area"
    "question-area question-area ."
    "question-area question-area submit-button";
  width: 900px;
  height: 450px;
  place-self: center;
  background-color: #F1F1F1;
  border-radius: 20px;
  padding: 2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
.question-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "question-text question-text question-text"
    "answer-buttons answer-buttons answer-buttons"
    "answer-buttons answer-buttons answer-buttons";
  grid-area: question-area;
  }
  
.question-text { 
  grid-area: question-text;
  text-align: center;
}

#question {
  margin-top: 0;
}

.btn {
  border-radius: 500px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 21px;
  background-color: #F1F1F1;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid #7037ab;
  color: #7037ab;
}

.answer-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    ".";
  grid-area: answer-buttons;
}

.answer-btn {
  justify-self: center;
  width: 75%;
  height: auto;
}
  
.picture-area { 
  grid-area: picture-area;
  display: grid;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
  
.submit-button {
  display: grid;
  grid-area: submit-button;
}

#submit-btn {
  width: 100%;
  height: auto;
}

/* Tablet Styling */
@media only screen and (max-width: 1024px) {
.container-1 {
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    ". picture-area ."
    ". question-area ."
    ". question-area ."
    ". question-area ."
    ". submit-button .";
  width: 75vw;
  height: 75vh;
}

#submit-btn {
  width: 50%;
  justify-self: center;
}
}

/* Mobile Styling */
@media only screen and (max-width: 405px) {
.picture-area {
  display: none;
}

.container-1 {
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1fr 1fr 1fr 0.25fr;
  gap: 1em 1em;
  grid-template-areas:
    ". question-area ."
    ". question-area ."
    ". question-area ."
    ". submit-button .";
  padding: 1em;
  width: 85vw;
  height: 90vh;
}

.answer-btn {
  width: 100%;
  height: 90%;
}
}

/* Container-2 (results styling) */
.container-2 {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "recommendation-area recommended-image-area"
    "button-area button-area";
  width: 900px;
  height: 450px;
  place-self: center;
  background-color: #F1F1F1;
  border-radius: 20px;
  padding: 2em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
#rec-area {
  grid-area: recommendation-area;
}
  
#rec-img-area { 
  grid-area: recommended-image-area;
  display: grid;
  background-image: url("/assets/images/BlackArtboard1LogoTshirtBlack.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
  
#rec-btn-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-areas:
    ". ."
    "contact-button restart-button"
    ". .";
  grid-area: button-area;
}
  
.contact-button {
  display: grid;
  grid-area: contact-button;
  width: 75%;
}
  
.restart-button {
  display: grid;
  grid-area: restart-button;
  width: 75%;  
}

.rec-btn {
  border-radius: 500px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 21px;
  background-color: #F1F1F1;
  cursor: pointer;
}

.rec-btn:hover {
  border: 2px solid #7037ab;
  color: #7037ab;
}

#rec-h1 {
  margin: 0;
  text-align: center;
  font-size: 5em;
}

#rec-p {
  margin: 0;
  text-align: center;
  font-size: 1.25em;
}

/* Tablet Styling */
@media only screen and (max-width: 1024px) {
.container-2 {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  grid-template-areas:
    ". recommended-image-area ."
    ". recommendation-area ."
    ". button-area button-area";
  width: 75vw;
  height: 75vh;
}
}

/* Mobile Styling */
@media only screen and (max-width: 449px) {
#rec-h1 {
  font-size: 3em;
}
#rec-p {
  font-size: 1em;
}
.rec-btn {
  font-size: 1em;
}
}
